.header {
    color: rgb(211, 175, 211);
    text-shadow: 2px 2px 7px #111111;
    text-align: center;
    font-family: Georgia, Times, serif;
}
.crockpot {
    width: 40%;
    margin: auto;
    padding-bottom: 1rem;
}
body { 
    background: linear-gradient(90deg, rgb(54, 53, 56), rgb(147, 147, 161));
}
hr {
    border-style: dotted none none;
    border-width: 6px;
    width: 50%; 
    border-color: rgba(235, 232, 232, 0.767);
}
p {
    color: whitesmoke;
}